

@model eCommerce.Web.Areas.Dashboard.ViewModels.CargaMasivaViewModel
@{
    if (Model != null)
    {
        Model.PageTitle = "Carga Masiva";
        Model.PageDescription = "Carga Masiva de Productos desde Excel";
        Model.PageURL = Url.ListAction("Configurations");
        Model.PageImageURL = PictureHelper.PageImageURL("configurations.jpg");
    }
}

<div class="page-info-container">
    <h3 class="h3 mb-2 text-gray-800">
        Carga Masiva
    </h3>
    <p>
        Cargar Productos desde Excel
    </p>
    <hr />
</div>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("UploadExcel", "CargaMasiva", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
 
    <div class="form-horizontal">
        <div class="form-group">
            <div class="control-label col-md-2">Descargar Plantilla:</div>
            <div class="col-md-10">
                <a href="/CargaMasiva/DownloadExcel/">Productos Template.xlsx</a>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Excel:</div>
            <div class="col-md-10">
                <input type="file" id="FileUpload" name="FileUpload" class="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



<script>

    $(document).ready(function () {

        $("#UploadExcel").submit(function (e) {
            debugger;
            submitForm();

            e.preventDefault();
        });

    });


    function submitForm() {
        debugger;



            $.ajax({
                url: "/CargaMasiva/UploadExcel",
                type: "post",
                data: $("#loginForm").serialize(),
            })
                .done(function (response) {
                    debugger;
                    console.log(response);
                    if (response != null && response.Success) {
                        alertify.success('Cargado con exiti¿o ' + response.Usuario);
                        //window.location.href = "@(!string.IsNullOrEmpty(Model.ReturnUrl) ? Model.ReturnUrl : Url.Home())";

                }
                    else {
                        console.log("entro al else");
                    //removeLoader("login-container");

                }
            })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.log("entro al fail");
                 //removeLoader("login-container");
                 Swal.fire("@("PP.Message.Error".Localized())", "@("PP.Message.GenericErrorMessage".Localized())", "error");

            });

    }
</script>