@model eCommerce.Web.Areas.Dashboard.ViewModels.CargaMasivaViewModel
@{
    if (Model != null)
    {
        Model.PageTitle = "Carga Masiva";
        Model.PageDescription = "Carga Masiva de Productos desde Excel";
        Model.PageURL = Url.ListAction("Configurations");
        Model.PageImageURL = PictureHelper.PageImageURL("configurations.jpg");
    }
}

<div class="page-info-container">
    <h3 class="h3 mb-2 text-gray-800">
        Carga Masiva
    </h3>
    <p>
        Insertar y Actualiza Productos desde Excel
    </p>
    <p><a class="btn btn-info" href="@Url.Action("DownloadPlantilla","CargaMasiva")">Descargar Plantilla</a></p>
    <hr />
</div>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">

        <h5 class="h5 mb-2 text-gray-800">
            Subir Productos
        </h5>
        <form id="UploadExcel" method="post" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div class="form-group">
                    @*<label>
                        Descargar Plantilla: @Html.ActionLink("Productos Template.xlsx", "DownloadExcel", "CargaMasiva", new { fileName = "Products.xlsx" }, new { @target = "_blank" })
                    </label>*@
                    
                </div>
                <div class="form-group">
                    <label class="">
                        <input type="file" id="FileUpload" name="FileUpload" class="" />
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cargar Productos" id="btnSubmit" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h5 class="h5 mb-2 text-gray-800">
            Descargar Productos
        </h5>
        <p><a class="btn btn-info" href="@Url.Action("DownloadAccesorio","CargaMasiva")">Descargar Accesorios</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
        <h4 class="h3 mb-2 text-gray-800">
            Resultado de la Carga
        </h4>
        <div class="form-group">
            <i id="loadPrincipal" class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
            <div id="result">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#loadPrincipal").css("display", "none");

        $("#UploadExcel").submit(function (e) {
            e.preventDefault();

            $("#loadPrincipal").css("display", "block");
            var form = $('#UploadExcel')[0];
            // Create an FormData object
            var data = new FormData(form);
            submitForm(data);
        });
    });

    function submitForm(data) {

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/CargaMasiva/UploadExcel",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {

                $("#loadPrincipal").css("display", "none");

                if (data.Success === true) {
                    $("#result").text("Se subio correctamente");
                } else {

                    var result = '<ul>';

                    $.each(data.Data, function (index, value) {
                        console.log("Imprimo each");
                        console.log(value);

                        $.each(value.data, function (i, v) {
                            console.log("Imprimo each 0: " + v);
                            result += "<li>"+v+"</li>";
                        });
                    });

                    result += "</ul>";


                    $("#result").html(result);
                }
                console.log("SUCCESS : ", data);
            },
            error: function (e) {
                $("#loadPrincipal").css("display", "none");
                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
            }
        });
    }
</script>