@model FinanciamientosViewModels

 
<style>
    input[type="checkbox"] {
        opacity: 1;
    }
</style>

 

    <div class="row">
        <div class="col-md-12 text-center">

            <img src="../Content/bm3/images/banner/Logo-efectiva.png" alt="" style="max-width: 88%; height: 80%;">
        </div>
    </div>


    <div class="content">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Nombre">Nombre<span class="text-danger">*</span></label>
                        <input class="form-control" name="Nombre" placeholder="Ingrese Nombre" id="txtNombre" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Apellido">Apellidos<span class="text-danger">*</span></label>
                        <input class="form-control" id="txtApellido" name="Apellido" placeholder="Ingrese Apellido" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellidos'">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Celular">Celular<span class="text-danger">*</span></label>
                        <input class="form-control" id="txtCelular" name="Celular" placeholder="Ingrese Celular" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Celular'">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Correo">Email<span class="text-danger">*</span></label>
                        <input class="form-control" id="txtCorreo" name="Correo" placeholder="Ingrese Correo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo'">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="TipoDocumento">Tipo Documento<span class="text-danger">*</span></label>
                        <select id="cboTipoDocumento" class="form-control custom-select">
                            <option value="DNI">DNI</option>
                            <option value="CEXTRANJERIA">C.Extranjería</option>
                            <option value="PASAPORTE">Pasaporte</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="NroDocumento">Nro Documento<span class="text-danger">*</span></label>
                        <input class="form-control" id="txtNroDocumento" name="NroDocumento" placeholder="Ingrese NroDocumento" onfocus="this.placeholder = ''" onblur="this.placeholder = 'NroDocumento'">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="TipoDocumento">Interes Compra<span class="text-danger">*</span></label>
                        <select id="cboInteresCompra" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="TipoDocumento">Departamento<span class="text-danger">*</span></label>
                        <select id="cboDepartamento" class="form-control"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Provincia">Provincia<span class="text-danger">*</span></label>
                        <select id="cboProvincia" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Distrito">Distrito<span class="text-danger">*</span></label>
                        <select id="cboDistrito" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Marca">Marca<span class="text-danger">*</span></label>
                        <select id="cboMarca" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Modelo">Modelo<span class="text-danger">*</span></label>
                        <input class="form-control" id="txtModelo" name="Modelo" placeholder="Ingrese Modelo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo'">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Modelo">Tipo Vivienda<span class="text-danger">*</span></label>
                        <select id="cboTipoVivienda" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Modelo">Situación Laboral<span class="text-danger">*</span></label>
                        <select id="cboSituacionLaboral" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Modelo">Estado Civil<span class="text-danger">*</span></label>
                        <select id="cboEstadoCivil" class="form-control custom-select"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="group-input">
                        <label for="Modelo">Rango de Ingresos<span class="text-danger">*</span></label>
                        <select id="cboRangoIngresos" class="form-control custom-select" name="Codigo"> 
                        </select>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 form-check">
                    <input type="checkbox" name="PoliticaPrivacidad" id="PoliticaPrivacidad">
                    <label class="form-check-label" for="PoliticaPrivacidad">
                        He leido y acepto la politica de privacidad
                    </label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 form-check">
                    <input type="checkbox" name="AceptoComunicaciones" id="AceptoComunicaciones">
                    <label class="form-check-label" for="AceptoComunicaciones">
                        Acepto recibir comunicaciones comerciales de LA EMPRESA
                    </label>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <button class="btn btn-success" id="actionButton"><i class="ti-save"></i>Enviar</button>
                </div>
            </div>

        </div>

    </div>
 

    
    <script>
        $(document).ready(function () {
            listarMarcas();
            listarEstadoCivil();

        });

        $("#actionButton").on("click", function () {
            debugger;
            var Nombre = $("#txtNombre").val();
            var Apellido = $("#txtApellido").val();
            var Celular = $("#txtCelular").val();
            var Correo = $("#txtCorreo").val();
            var TipoDocumento = $("#cboTipoDocumento").val();
            var NroDocumento = $("#txtNroDocumento").val();
            var InteresCompra = $("#cboInteresCompra").val();
            var Departamento = $("#cboDepartamento").val();
            var Provincia = $("#cboProvincia").val();
            var Distrito = $("#cboDistrito").val();
            var Marca = $("#cboMarca").val();
            var Modelo = $("#txtModelo").val();
            var TipoVivienda = $("#cboTipoVivienda").val();
            var SituacionLaboral = $("#cboSituacionLaboral").val();
            var SituacionSentimental = $("#cboEstadoCivil").val();
            var RangoIngreso = $("#cboRangoIngresos").val();
            var PoliticaPrivacidad = document.getElementById('PoliticaPrivacidad').checked;
            var AceptoComunicaciones = document.getElementById('PoliticaPrivacidad').checked;
             var MontoFinanciar = 0;
             var TipoFinanciera = 1;

            var model = new Object();
            model.Nombre = Nombre;
            model.Apellido = Apellido;
            model.Celular = Celular;
            model.Correo = Correo;
            model.TipoDocumento = TipoDocumento;
            model.NroDocumento = NroDocumento;
            model.InteresCompra = InteresCompra;
            model.Departamento = Departamento;
            model.Provincia = Provincia;
            model.Distrito = Distrito;
            model.Marca = Marca;
            model.Modelo = Modelo;
            model.TipoVivienda = TipoVivienda;
            model.SituacionLaboral = SituacionLaboral;
            model.SituacionSentimental = SituacionSentimental;
            model.RangoIngreso = RangoIngreso;
            model.PoliticaPrivacidad = PoliticaPrivacidad;
            model.AceptoComunicaciones = AceptoComunicaciones;
            model.MontoFinanciar = MontoFinanciar;
            model.TipoFinanciera = TipoFinanciera;

            $.ajax({
                method: "POST",
                url: "/Financiamiento/GuardarFinanciamiento",
                data: {
                    model
                },
                success: function (result) {
                    debugger;
                    alert("ok")
                     Swal.success("Bien Hecho", 'Enviado Correctamente', "success");
                }

            });

        })

        function listarMarcas() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listarMarca",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboMarca", "Descripcion", "ID", "0")
                }
            });
        }

        function listarEstadoCivil() {
            $.ajax({
                method: "GET",
                url: "/Financiamiento/listarEstadoCivil",
                success: function (result) {
                    debugger;
                    console.log(result);
                    let Marca = result;
                    llenarCombo(Marca, "cboEstadoCivil", "Valor", "Codigo", "0")
                }
            });
        }


        function llenarCombo(data, id, propiedadMostrar, propiedadId, valueDefecto = "") {
            debugger;
            var contenido = ""
            var elemento;
            contenido += "<option value='" + valueDefecto + "'>--Seleccionar--</option>"
            for (var j = 0; j < data.length; j++) {
                elemento = data[j];
                contenido +=
                    "<option value='" + elemento[propiedadId] + "' >" + elemento[propiedadMostrar] + "</option>"
            }
            contenido += "";
            document.getElementById(id).innerHTML = contenido;
        }



    </script>




