
<section class="flat-row flat-product-detail">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <div class="product-detail" style="background-image: url(/Content/bm3/images/producto/fondo.jpg); background-size: cover;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-img">
                                    <img src="~/Content/bm3/images/producto/producto-1.jpg" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product-info">
                                    <h3 class="info-brand">KTM</h3>
                                    <h3 class="info-name">KTM 125</h3>
                                    <h3 class="info-version">2022</h3>
                                    <p class="info-description">La nueva Honda NAVI cuenta con un motor monocilíndrico de 4 tiempos refrigerado por aire. El sistema dual de encendido (electrónico y patada) aseguran el correcto funcionamiento de esta moto, que además, gracias a su pequeño motor de 110 centímetros cúbicos entrega una gran autonomía.</p>
                                    <p class="info-description">PRECIO REFERENCIAL</p>
                                    <p class="info-price">S/10,000</p>
                                    <a class="info-select waves-effect" href="#">Quiero esta moto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-row flat-product-attribute">
    <div class="container">
        <div class="product-attribute">
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="product-item">
                        <div class="product-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                        <div class="product-value">
                            <span>16.5 L</span>
                        </div>
                        <div class="product-text">
                            <span>CAPACIDAD DE TANQUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="product-item">
                        <div class="product-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                        <div class="product-value">
                            <span>249.6 CC</span>
                        </div>
                        <div class="product-text">
                            <span>CILINDRADA</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="product-item">
                        <div class="product-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                        <div class="product-value">
                            <span>6</span>
                        </div>
                        <div class="product-text">
                            <span>VELOCIDADES</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="product-item">
                        <div class="product-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                        <div class="product-value">
                            <span>22.1 HP  7,500 RPM</span>
                        </div>
                        <div class="product-text">
                            <span>POTENCIA</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="product-item">
                        <div class="product-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                        <div class="product-value">
                            <span>22.0 NM  6,00 RPM</span>
                        </div>
                        <div class="product-text">
                            <span>TORQUE</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="product-item">
                        <div class="product-icon">
                            <i class="fa fa-motorcycle"></i>
                        </div>
                        <div class="product-value">
                            <span>16 MESES / 10 MIL KM</span>
                        </div>
                        <div class="product-text">
                            <span>GARANTÍA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-product-content">
    <div class="container">
        <ul class="product-detail-bar">
            <li class="active">
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Características Técnicas</span>
            </li>
            <li>
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Motor y sistema eléctrico</span>
            </li>
            <li>
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Frenos</span>
            </li>
            <li>
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Aros y Llantas</span>
            </li>
            <li>
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Suspensión</span>
            </li>
            <li>
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Transmisión</span>
            </li>
            <li>
                <span class="bar-icon"><i class="fa fa-motorcycle"></i></span>
                <span class="bar-title">Dimensiones</span>
            </li>
        </ul>
        <div class="detail-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <h3>PESO VS POTENCIA</h3>
                        <p>Su bajo peso en relación a la potencia que entrega su motor de 158 centímetros cúbicos, le permite un gran desempeño, entregando 12 caballos de fuerza y una velocidad máxima de 100 km/h.</p>
                        <p>Su bajo peso en relación a la potencia que entrega su motor de 158 centímetros cúbicos, le permite un gran desempeño, entregando 12 caballos de fuerza y una velocidad máxima de 100 km/h.</p>
                        <h3>SUAVE MOTOR SIN VIBRACIONES</h3>
                        <p>El motor de la Sukhoi 16 cuenta con un balanceador interno para reducir las vibraciones.</p>
                        <h3>MÁS KILÓMETROS, MENOS SOLES</h3>
                        <p>Su tanque de 3 galones y su eficiente sistema de carburación de combustible, le permiten a la Sukhoi 16 una autonomía de 427 km.</p>
                        <h3>DISEÑO Y SEGURIDAD</h3>
                        <p>El atractivo diseño de los aros de aleación de la Sukhoi 16, le dan no solo una apariencia deportiva, si no que además, brinda mayor seguridad al evitar el uso de cámaras internas para sellar las llantas a los aros.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <p>Cuenta con un motor monocilíndrico de 158 centímetros cúbicos. Un motor de árbol de levas simple que entrega 12 caballos de fuerza. Además, su balanceador evita las vibraciones fuertes del motor producto de su gran torque en bajas revoluciones.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>CILINDRADA</td>
                                    <td>158 CC</td>
                                </tr>
                                <tr>
                                    <td>POTENCIA</td>
                                    <td>12.1 HP</td>
                                </tr>
                                <tr>
                                    <td>TORQUE</td>
                                    <td>10.9 Nm ( 6,500 RPM)</td>
                                </tr>
                                <tr>
                                    <td>SISTEMA DE ENCENDIDO</td>
                                    <td>CDI</td>
                                </tr>
                                <tr>
                                    <td>SISTEMA DE ARRANQUE</td>
                                    <td>ELÉCTRICO / PATADA</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <p>En la llanta delantera, la Sukhoi 16 cuenta con un freno de disco lobulado y ventilado, el que disipa mejor el calor producto de las frenadas, evitando que las pastillas se recalienten y pierdan adherencia. Su tambor posterior es mecánico y de 20 cm de diámetro.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>TIPO DE FRENO DELANTERO</td>
                                    <td>DISCO</td>
                                </tr>
                                <tr>
                                    <td>TIPO DE FRENO TRASERO</td>
                                    <td>TAMBOR</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <p>Llantas de mediano ancho y aros de aleación, eliminando el uso de cámaras internas para sellar las llantas a los aros.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>LLANTA DELANTERA</td>
                                    <td>90/90-17</td>
                                </tr>
                                <tr>
                                    <td>LLANTA TRASERA</td>
                                    <td>120/80-17</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <p>La Sukhoi 16 cuenta con una suspensión delantera de horquilla telescópica de 12 cm de recorrido, dándole mayor control y adherencia de la llanta al asfalto. En la llanta posterior los amortiguadores dobles cuentan con una recorrido de 10 cm.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>SUSPENSIÓN DELANTERA</td>
                                    <td>Telescópica</td>
                                </tr>
                                <tr>
                                    <td>SUSPENSIÓN POSTERIOR</td>
                                    <td>Doble amortiguador</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <p>Cuenta con una transmisión mecánica de 5 velocidades de tipo retorno. El primer cambio es para abajo y todos los demás para arriba. Sus 5 marchas le permiten alcanzar una velocidad final de 100 km/h.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>TRANSMISIÓN</td>
                                    <td>Mecánica</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tecnical-specs">
                        <p>La Sukhoi es una moto ligera. Con tan solo 127 kg de peso, es una moto fácil de manejar que se mueve sin problemas dentro de espacios reducidos gracias a su amplio giro de timón.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>LARGO TOTAL</td>
                                    <td>2060 MM</td>
                                </tr>
                                <tr>
                                    <td>ANCHO TOTAL</td>
                                    <td>745 MM</td>
                                </tr>
                                <tr>
                                    <td>ALTURA TOTAL</td>
                                    <td>1080 MM</td>
                                </tr>
                                <tr>
                                    <td>PESO NETO</td>
                                    <td>134 kg</td>
                                </tr>
                                <tr>
                                    <td>ALTURA SILLÍN</td>
                                    <td>765</td>
                                </tr>
                                <tr>
                                    <td>DISTANCIA ENTRE EJES</td>
                                    <td>1320</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-product-gallery">
    <div class="container">
        <h3>Galería</h3>
    </div>
    <div class="container-full">
        <div class="slider product-gallery">
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
            <div>
                <div class="image">
                    <a href="~/Content/bm3/images/producto/producto-2.jpg" target="_blank" class="thumbnail"><img src="~/Content/bm3/images/producto/producto-1.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-banner-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-box">
                    <div class="inner-box">
                        <a href="#" title="">
                            <img src="~/Content/bm3/images/banner/banner-6.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-box">
                    <div class="inner-box">
                        <a href="#" title="">
                            <img src="~/Content/bm3/images/banner/banner-6.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-brand-detail">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="brand-detail">
                        <h3>Sobre la marca</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="brand-img">
                                    <img src="~/Content/bm3/images/marca/honda.png" />
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="brand-desc">
                                    <p>Demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo demo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-product-imagebox style1">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-box">
                    <div class="inner-box">
                        <h3>MOTOS RELACIONADAS</h3>
                        <p>Te damos las opciones similares a lo que estás buscando.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="owl-carousel-product">
                    <div class="product-box">
                        <div class="imagebox style2">
                            <div class="box-image">
                                <a href="#" title="">
                                    <img src="~/Content/bm3/images/producto/producto-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="product-name">
                                    <a href="#" title="">
                                        <span>KTM</span>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="sale">$1,250.00</span>
                                    <span class="regular">$2,999.00</span>
                                </div>
                            </div>
                            <div class="box-top">
                                <div class="box-link">
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="imagebox style2">
                            <div class="box-image">
                                <a href="#" title="">
                                    <img src="~/Content/bm3/images/producto/producto-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="product-name">
                                    <a href="#" title="">
                                        <span>KTM</span>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="sale">$1,250.00</span>
                                    <span class="regular">$2,999.00</span>
                                </div>
                            </div>
                            <div class="box-top">
                                <div class="box-link">
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="imagebox style2">
                            <div class="box-image">
                                <a href="#" title="">
                                    <img src="~/Content/bm3/images/producto/producto-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="product-name">
                                    <a href="#" title="">
                                        <span>KTM</span>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="sale">$1,250.00</span>
                                    <span class="regular">$2,999.00</span>
                                </div>
                            </div>
                            <div class="box-top">
                                <div class="box-link">
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="imagebox style2">
                            <div class="box-image">
                                <a href="#" title="">
                                    <img src="~/Content/bm3/images/producto/producto-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="product-name">
                                    <a href="#" title="">
                                        <span>KTM</span>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="sale">$1,250.00</span>
                                    <span class="regular">$2,999.00</span>
                                </div>
                            </div>
                            <div class="box-top">
                                <div class="box-link">
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="imagebox style2">
                            <div class="box-image">
                                <a href="#" title="">
                                    <img src="~/Content/bm3/images/producto/producto-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="product-name">
                                    <a href="#" title="">
                                        <span>KTM</span>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="sale">$1,250.00</span>
                                    <span class="regular">$2,999.00</span>
                                </div>
                            </div>
                            <div class="box-top">
                                <div class="box-link">
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="imagebox style2">
                            <div class="box-image">
                                <a href="#" title="">
                                    <img src="~/Content/bm3/images/producto/producto-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="box-content">
                                <div class="product-name">
                                    <a href="#" title="">
                                        <span>KTM</span>
                                    </a>
                                </div>
                                <div class="price">
                                    <span class="sale">$1,250.00</span>
                                    <span class="regular">$2,999.00</span>
                                </div>
                            </div>
                            <div class="box-top">
                                <div class="box-link">
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                    <a href="#" title="">
                                        <i class="ti-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
