<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="widget-ft widget-about">
                    <div class="logo logo-ft">
                        <a href="#" title="">
                            <img src="~/Content/bm3/images/logo/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="widget-content">
                        <div class="info">
                            <p>Distribuidora de Motocicletas, Repuestos y Accesorios de las marcas HERO, KTM, LIFAN, PIAGGIO, ACERBIS, ALPINE STARS, MOTUL.</p>                            
                        </div>
                    </div>
                    <ul class="social-list">
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="widget-ft widget-menu">
                    <div class="widget-title">
                        <h3>Cuenta</h3>
                    </div>
                    <ul>
                        <li>
                            <a href="#" title="">Mi Perfil</a>
                        </li>
                        <li>
                            <a href="#" title="">Carrito</a>
                        </li>
                        <li>
                            <a href="#" title="">Catálogo</a>
                        </li>
                        <li>
                            <a href="#" title="">Ofertas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="widget-ft widget-info-ft">
                    <div class="widget-title">
                        <h3>Información</h3>
                    </div>
                    <ul class="cat-list-ft">
                        <li>
                            <a href="#" title="">Nosotros</a>
                        </li>
                        <li>
                            <a href="#" title="">Contacto</a>
                        </li>
                        <li>
                            <a href="#" title="">Términos y Condiciones</a>
                        </li>
                        <li>
                            <a href="#" title="">Libro de Reclamaciones</a>
                        </li>
                        <li>
                            <a href="#" title="">Devoluciones</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="widget-ft widget-menu">
                    <div class="widget-title">
                        <h3>Contactos</h3>
                    </div>
                    <ul>
                        <li class="dir">                            
                            <a href="https://goo.gl/maps/ntrea5NZ7DGTbkww7" target="_blank" style="text-decoration: underline">Av. Manuel Vera Enriquez 571, Trujillo</a>
                        </li>
                        <li class="mail">
                            <span><a href="mailto:servicioalcliente@bm3.com.pe">servicioalcliente@bm3.com.pe</a></span>
                        </li>
                        <li class="tel">
                            <span>Ventas: <a href="tel:+51999000000">999000000</a></span>
                        </li>
                        <li class="tel">
                            <span>Accesorios: <a href="tel:+51999000000">999000000</a></span>
                        </li>
                        <li class="tel">
                            <span>Repuestos: <a href="tel:+51999000000">999000000</a></span>
                        </li>
                        <li class="tel">
                            <span>Servicios: <a href="tel:+51999000000">999000000</a></span>
                        </li>
                        <li class="cal">
                            <span>Horario de atención: 8AM-6PM</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">Todos los derechos reservados © BM3 2022</p>
                <p class="btn-scroll">
                    <a href="#" title="">
                        <img src="/Content/bm3/images/icono/top.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
