  
<style>
    .whatsapp-floater {
        margin: 0px 12px;
        padding: 0px;
        position: fixed;
        z-index: 2147483645;
        bottom: 100px;
        top: auto;
        height: 60px;
        width: 60px;
        border-radius: 29px;
        display: block;
        right: 12px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
    }

    .whatsapp-float-icon {
        margin-top: 16px;
        color: white;
    }

    .fab, .far{
        font-weight: 400;       
    }

    .fab {
        font-family: "Font Awesome 5 Brands";
    }

    .mode-floater {
        margin: 0px 12px;
        padding: 0px;
        position: fixed;
        z-index: 2147483644;
        bottom: 90px;
        top: auto;
        height: 60px;
        width: 60px;
        border-radius: 29px;
        display: block;
        right: 12px;
        background-color: #f3f3f3;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
    }

    .mode-float-icon {
        margin-top: 16px;
    }

    .whatsapp-floater:hover {
        color: #FFF
    }

</style>

<div id="google-facebook-scripts"></div>

@if (!string.IsNullOrEmpty(ConfigurationsHelper.WhatsAppNumber))
{
    <a href="https://wa.me/@ConfigurationsHelper.WhatsAppNumber" class="whatsapp-floater" target="_blank">
        <i class="fa fa-whatsapp whatsapp-float-icon"></i>
    </a>
}

 