@model ContactosViewModels


<br />


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
        <img src="../Content/bm3/images/contacto/contacto2.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-1"></div>
</div>

<br />
<div class="card" style="background: repeat rgb(241, 240, 240);">
    <form method="post" id="frmContacto">
        <div class="card-body">
            <br />
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="group-input">
                        <label for="Nombre">Nombre: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="Nombre" aria-label="default input example" placeholder="Ingrese Nombres" id="txtNombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Nombres'" />
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="group-input">
                        <label for="Email">Email: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="txtEmail" name="Email" placeholder="Ingrese Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Email'">
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="group-input">
                        <label for="Asunto">Asunto: <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="txtAsunto" name="Asunto" placeholder="Ingrese Asunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Asunto'">
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="group-input">
                        <label for="Mensaje">Mensaje: <span class="text-danger">*</span></label>
                        <textarea rows="8" type="text" class="form-control" id="txtMensaje" name="Mensaje" placeholder="Ingrese Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingrese Mensaje'"></textarea>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit" id="actionButton"><i class="ti-save"></i>  Enviar</button>
                </div>
            </div>
            <br />
        </div>
    </form>
</div>

 
<script src="~/Content/lib/jquery-3.4.1/jquery.min.js"></script>
@*<script src="~/Content/lib/jquery-validation-1.19.1/jquery.validate.min.js"></script>
<script src="~/Content/lib/jquery-validation-1.19.1/additional-methods.min.js"></script>*@
 


<script>
     
$(document).ready(function () {

    $("#frmContacto").submit(function (event) {
        debugger;
        GuardarContacto();
        event.preventDefault();
    });


});

 
function GuardarContacto() {
    debugger;
    $(".errorsRow .errorMessages", "#frmContacto").html("");
    $(".errorsRow", "#frmContacto").hide(200);
    $(".errorsRow .errorMessages", "#frmContacto").hide();

        var Nombre = $("#txtNombre").val();
        var Email = $("#txtEmail").val();
        var Asunto = $("#txtAsunto").val();
        var Mensaje = $("#txtMensaje").val();


    if (Nombre == "" || Nombre.length == 0) {
        alertify.warning('Ingrese un Nombre');
        //Swal.fire("Alerta", 'Ingrese un Nombre', "warning");
        return false;
    } else if (Email == "" || Email.length == 0) {
        //Swal.fire("Alerta", 'Ingrese un Email', "warning");
        alertify.warning('Ingrese un Email');
        return false;
    } else if (Asunto == "" || Asunto.length == 0) {
        //Swal.fire("Alerta", 'Ingrese un Asunto', "warning");
        alertify.warning('Ingrese un Asunto');
        return false;
    } else if (Mensaje == "" || Mensaje.length == 0) {
        //Swal.fire("Alerta", 'Ingrese un Mensaje', "warning");
        alertify.warning('Ingrese un Mensaje');
        return false;
    }

    else {

        var model = new Object();
        model.Nombre = Nombre;
        model.Email = Email;
        model.Asunto = Asunto;
        model.Mensaje = Mensaje;

        $.ajax({
            method: "POST",
            url: "/Contacto/GuardarContacto",
            data: {
                model
            },
            success: function (result) {
                debugger;
                Swal.fire("Bien Hecho!", 'Enviado Correctamente', "success");
                window.location.href = '@Url.Home()';
            }

        });

    }
     
    }




</script>