@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.ProductsViewModel

<div class="filter-widget">
    <h4 class="fw-title">Brand</h4>
    <div class="fw-brand-check">
        <div class="bc-item">
            <label for="bc-calvin">
                Calvin Klein
                <input type="checkbox" id="bc-calvin">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="bc-item">
            <label for="bc-diesel">
                Diesel
                <input type="checkbox" id="bc-diesel">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="bc-item">
            <label for="bc-polo">
                Polo
                <input type="checkbox" id="bc-polo">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="bc-item">
            <label for="bc-tommy">
                Tommy Hilfiger
                <input type="checkbox" id="bc-tommy">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</div>