@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.ProductsViewModel

<div class="filter-widget">
    <h4 class="fw-title">Color</h4>
    <div class="fw-color-choose">
        <div class="cs-item">
            <input type="radio" id="cs-black">
            <label class="cs-black" for="cs-black">Black</label>
        </div>
        <div class="cs-item">
            <input type="radio" id="cs-violet">
            <label class="cs-violet" for="cs-violet">Violet</label>
        </div>
        <div class="cs-item">
            <input type="radio" id="cs-blue">
            <label class="cs-blue" for="cs-blue">Blue</label>
        </div>
        <div class="cs-item">
            <input type="radio" id="cs-yellow">
            <label class="cs-yellow" for="cs-yellow">Yellow</label>
        </div>
        <div class="cs-item">
            <input type="radio" id="cs-red">
            <label class="cs-red" for="cs-red">Red</label>
        </div>
        <div class="cs-item">
            <input type="radio" id="cs-green">
            <label class="cs-green" for="cs-green">Green</label>
        </div>
    </div>
</div>