@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.ProductsViewModel

<div class="filter-widget">
    <h4 class="fw-title">Size</h4>
    <div class="fw-size-choose">
        <div class="sc-item">
            <input type="radio" id="s-size">
            <label for="s-size">s</label>
        </div>
        <div class="sc-item">
            <input type="radio" id="m-size">
            <label for="m-size">m</label>
        </div>
        <div class="sc-item">
            <input type="radio" id="l-size">
            <label for="l-size">l</label>
        </div>
        <div class="sc-item">
            <input type="radio" id="xs-size">
            <label for="xs-size">xs</label>
        </div>
    </div>
</div>