@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.ProductsViewModel

<div class="filter-widget">
    <h4 class="fw-title">Tags</h4>
    <div class="fw-tags">
        <a href="#">Towel</a>
        <a href="#">Shoes</a>
        <a href="#">Coat</a>
        <a href="#">Dresses</a>
        <a href="#">Trousers</a>
        <a href="#">Men's hats</a>
        <a href="#">Backpack</a>
    </div>
</div>