@model eCommerce.Web.ViewModels.ResetPasswordViewModel
@{
    Model.PageTitle = "PP.ResetPassword.Title".LocalizedString();
    Model.PageDescription = "PP.ResetPassword.Description".LocalizedString().Replace("{application}", ConfigurationsHelper.ApplicationName);
    Model.PageURL = Url.ForgotPassword();
    Model.PageImageURL = PictureHelper.PageImageURL("reset-password.jpg");
}

<div class="register-login-section spad">
    <div class="container" id="reset-password-container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form page-content-holder">
                    <div class="page-content-header">
                        <h2>@Model.PageTitle</h2>
                    </div>
                    @Html.Partial("_ResetPassword", Model)
                    <div class="switch-login">
                        <a href="@Url.Login()" class="or-login">
                            @("PP.ResetPassword.LoginAccount".LocalizedString())
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>