
<form id="orderDetailsForm" method="post" style="display:none">
    @*<input name="FullName" type="hidden">
    <input name="Email" type="hidden">
    <input name="Username" type="hidden">
    <input name="PhoneNumber" type="hidden">
    <input name="Country" type="hidden">
    <input name="City" type="hidden">
    <input name="Address" type="hidden">*@
</form>