
.pointerCursor{
    cursor: pointer;
}

.swal2-icon-content i{
    font-size: 20px;
}

.ltr-dir{
    direction: ltr !important;
}

.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(239, 239, 239, 0.5);
    z-index: 9999;
}

.loading-overlay .spinner-div {
    height: 100%;
}