 
@Styles.Render("~/Content/css/style2.css")

<div class="partner-logo owl-carousel owl-loaded" title="@("PP.Home.Showcase.OurPartners".LocalizedString())">
    <div class="container">
        @*<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
            <div class="logo-item">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/pineapple-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/paprika-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/avocado-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Food/banana-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/onion-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Food/asparagus-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/watermelon-96.png" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                        <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><img src="https://maxcdn.icons8.com/Color/PNG/96/Food/eggplant-96.png" class="img-responsive"></a></div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>*@
        @*<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="" class="slider_img">
                </div>

                <div class="item">
                    <img src="~/Content/templates/fashi/img/logo-carousel/logo-2.png" alt="" class="slider_img">
                </div>

                <div class="item">
                    <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="" class="slider_img">
                </div>

                <div class="item">
                    <img src="~/Content/templates/fashi/img/logo-carousel/logo-2.png" alt="" class="slider_img">
                </div>

                <div class="item">
                    <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="" class="slider_img">
                </div>
            </div>
        </div>*@
         
        <div class="partner-logo owl-carousel owl-loaded" title="@("PP.Home.Showcase.OurPartners".LocalizedString())">
            <div class="container">
                <div class="logo-carousel owl-carousel" data-ride="carousel" data-type="multi" id="slider2">
                    <div class="logo-item">
                        <div class="item active">
                            <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="" class="slider_img">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="item">
                            <img src="~/Content/templates/fashi/img/logo-carousel/logo-2.png" alt="" class="slider_img">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="item">
                            <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="" class="slider_img">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="item">
                            <img src="~/Content/templates/fashi/img/logo-carousel/logo-2.png" alt="" class="slider_img">
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="item">
                            <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="" class="slider_img">
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#slider2" data-slide="prev"><i class="fa fa-i-cursor"></i></a>
                <a class="right carousel-control" href="#slider2" data-slide="next"><i class="fa fa-edit"></i></a>
            </div>
        </div>


    </div>
</div>

@*<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
<script>
    
    $('#slider2[data-type="multi"] .item').each(function () {
        debugger;
        var next = $(this).next();
        if (!next.length) {
            n8ext = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 4; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });

    //const slider = document.querySelector("#slider2");
    //let sliderSection = document.querySelectorAll(".slider_section");
    //let sliderSectionLast = sliderSection[sliderSection.length - 1];

    //slider.insertAdjacentElement('afterbegin', sliderSectionLast);
    //function Next() {
    //    let sliderSectionFirst = document.querySelectorAll(".slider_section")[0];
    //    slider.style.marginLeft = "-40%";
    //    slider.style.transition = "all 3s";
    //    slider.display = "inline";
    //    setTimeout(function () {
    //        slider.style.transition = "20%";
    //        slider.insertAdjacentElement('beforeend', sliderSectionFirst);
    //        slider.style.marginLeft = "25%";
    //    }, 500
    //    );
    //}

    //setInterval(function () {
    //    Next();
    //}, 5000);


</script>