@model eCommerce.Web.ViewModels.PageViewModel

@{
    if (Model != null)
    {
        Model.PageTitle = "PP.Home.Title".LocalizedString();
        Model.PageDescription = "PP.Home.Description".LocalizedString();
        Model.PageURL = Url.Home();
        Model.PageImageURL = PictureHelper.PageImageURL("home.jpg");
    }    

    Html.RenderAction("HomeSliders", "Home");
    Html.RenderAction("HomeMarcasMoto", "Home");
    Html.RenderAction("FeaturedCategories", "Categories", new { recordSize = 3, isForHomePage = true });
    Html.RenderAction("ProductsByFeaturedCategories", "Categories", new { recordSize = 3 });
}

<div class="container-fluid my-4 pb-4">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a class="btn btn-danger" href="@Url.CatalogoMoto(0,0)"><i class="ti-search"></i> Ver Más Productos</a>
        </div>
    </div>
</div>

    <section class="flat-iconbox">
        <div class="container">
            <div class="row row-cols-5">
                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_confianza.svg" style="height: inherit;" alt="" />
                            </div>
                            <div class="box-title">
                                <h3>ENTREGA RÁPIDA</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Entrega Rápida</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_envio_gratis.svg" alt="" style="height: inherit;" />
                            </div>
                            <div class="box-title">
                                <h3>SOPORTE</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Siempre Atentos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_pago_en_linea.svg" style="height: inherit;" alt="" />
                            </div>
                            <div class="box-title">
                                <h3>PAGOS SEGUROS</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Transacciones Seguras</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_confianza.svg" style="height: inherit;" alt="" />
                            </div>
                            <div class="box-title">
                                <h3>CONFIANZA</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Protección de Datos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>