@model eCommerce.Web.ViewModels.PageViewModel

<style>
    .loading-more {
        text-align: center;
        padding-top: 10px;
    }

        .loading-more i {
            font-size: 22px;
            color: #663333;
            margin-right: 6px;
            position: relative;
            top: 7px;
        }
        .loading-more a {
            font-size: 18px;
            font-weight: 700;
            color: #252525;
            position: relative;
            display: inline-block;
        }

</style>

@{
    if (Model != null)
    {
        Model.PageTitle = "PP.Home.Title".LocalizedString();
        Model.PageDescription = "PP.Home.Description".LocalizedString();
        Model.PageURL = Url.Home();
        Model.PageImageURL = PictureHelper.PageImageURL("home.jpg");
    }

    Html.RenderAction("HomeSliders", "Home");
    Html.RenderAction("HomeMarcasMoto", "Home");
    Html.RenderAction("FeaturedCategories", "Categories", new { recordSize = 3, isForHomePage = true });
    Html.RenderAction("ProductsByFeaturedCategories", "Categories", new { recordSize = 3 });
}



<div class="container-fluid my-4 pb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="loading-more">
                <i class="ti-search"></i>
                <a href="@Url.SearchProducts()">
                    @("PP.Home.SearchMoreProducts".LocalizedString())
                </a>
            </div>
        </div>
    </div>
</div>

@if (true)
{
    <section class="flat-iconbox">
        <div class="container">
            <div class="row row-cols-5">
                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_confianza.svg" style="height: inherit;" alt="" />
                            </div>
                            <div class="box-title">
                                <h3>Entrega Rapida</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Entrega Rapida</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_envio_gratis.svg" alt="" style="height: inherit;" />
                            </div>
                            <div class="box-title">
                                <h3>SOPORTE</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Siempre Atentos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_pago_en_linea.svg" style="height: inherit;" alt="" />
                            </div>
                            <div class="box-title">
                                <h3>PAGOS SEGUROS</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Opciones de pago seguras</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="iconbox">
                        <div class="box-header">
                            <div class="image">
                                <img src="~/Content/bm3/images/producto/icono_best_points_pago_en_linea.svg" style="height: inherit;" alt="" />
                            </div>
                            <div class="box-title">
                                <h3>PAGOS SEGUROS</h3>
                            </div>
                        </div>
                        <div class="box-content">
                            <p>Opciones de pago seguras</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>   
}
