
 
<section class="flat-row flat-slider">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <div class="slider">
                    <div class="slider-item style8">
                        <div class="item-image">
                            <img src="~/Content/bm3/images/nosotros/banner_nosotros.jpg" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<div class="card" style="background: repeat rgb(241, 240, 240);"> 
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-3">
                    <div class="banner-box">
                        <div class="inner-box">
                            <br />
                            <h3>HISTORIA</h3><br />
                            <div class="content" style="text-align: justify; font-size: 14px;">
                               @ConfigurationsHelper.Historia
                            </div>
                             
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-3">
                    <div class="banner-box">
                        <div class="inner-box">
                            <br />
                            <h3>VISIÓN</h3>
                            <br />
                            <div class="content" style="text-align: justify; font-size: 14px;">
                                @ConfigurationsHelper.Vision
                            </div>
                        </div>  
                    </div>
                    <div class="banner-box">
                        <div class="inner-box">
                            <br />
                            <h3>MISIÓN</h3><br />
                            <div class="content" style="text-align: justify; font-size: 14px;">
                                @ConfigurationsHelper.Mision
                            </div>
                        </div>
                    </div>
                </div>

            </div> 
        </div> 
</div>
<br />
<br />