@model List<eCommerce.Entities.Category>

@if (Model != null && Model.Count > 0)
{


    <section class="flat-row flat-banner-box category-shortcut-web">
        <div class="container">
            <div class="row">
                @foreach (var category in Model)
                {
                    var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);
                    Picture pictureMovil = new Picture();
                    pictureMovil.URL = "categoria_movil.jpg";

                    <div class="col-md-4">
                        <div class="banner-box">
                            <div class="inner-box single-banner" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty))">

                                <a class="inner-text" href="@Url.CatalogoMoto(category.ID, 0)">
                                    @Html.Picture(picture: category.Picture, defaultPic: "site/default-bg.jpg", alt: currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                    @*@Html.Picture(picture: pictureMovil, classes: "img-res-si", defaultPic: "site/default-bg.jpg", alt: currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)*@
                                    <h4 class="text-category">
                                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name.ToUpper() : string.Empty)
                                    </h4>
                                    <hr class="hr-category" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>    

}
