@model eCommerce.Web.ViewModels.ProductsByFeaturedCategoriesViewModel

@if (Model != null && Model.Categories != null && Model.Categories.Count > 0)
{

    foreach (var featuredCategory in Model.Categories)
    {
        var currentLanguageCategoryRecord = featuredCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

        var products = featuredCategory.Products != null ? featuredCategory.Products.Where(x => !x.IsDeleted && x.IsActive).OrderByDescending(x => x.ModifiedOn).Take(8).ToList() : null;

    }

    //Seccion Banner Publicidad
    <section class="flat-row flat-banner-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="~/Content/bm3/images/banner/banner-4.jpg" alt="" class="img-res-no">
                                <img src="~/Content/bm3/images/banner/banner-4.jpg" alt="" class="img-res-si">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="banner-box two-half">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row flat-banner-box publicidad-2-web">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-3">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-3">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row flat-banner-box publicidad-2-movil">
        <div class="container">
            <div class="row">
                <div class="banner-box two-half">
                    <div class="inner-box">
                        <a href="#" title="">
                            <img src="~/Content/bm3/images/banner/banner-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="inner-box">
                        <a href="#" title="">
                            <img src="~/Content/bm3/images/banner/banner-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>                
            </div>
        </div>
    </section>
}



