@model eCommerce.Web.ViewModels.ProductsByFeaturedCategoriesViewModel



@if (Model != null && Model.Categories != null && Model.Categories.Count > 0)
{
      
    <section class="flat-row flat-banner-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="banner-box two-half">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row flat-banner-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="Content/bm3/images/banner/banner-7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row flat-banner-box">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="images/banner/banner-6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-box">
                        <div class="inner-box">
                            <a href="#" title="">
                                <img src="images/banner/banner-6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}



