
<section class="reverse-banner forward-banner">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-3">
                <img src="~/Content/images/site/pages/oferta.jpg"  style="height: 719px"/>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Content/images/site/pages/moto.png" />
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-large set-bg d-flex justify-content-center align-items-center"> 
                            <img src="~/Content/images/site/pages/casc.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-large set-bg d-flex justify-content-center align-items-center"> 
                            <img src="~/Content/images/site/pages/lucricantes.jpg" />
                        </div>
                    </div>
                </div>

                @*<div class="product-large set-bg d-flex justify-content-center align-items-center">

                    </div>*@
            </div>
            <br />

            <div class="col-lg-6">
                <div class="product-large set-bg d-flex justify-content-center align-items-center"> 
                    <img src="~/Content/images/site/pages/moto.png" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-large set-bg d-flex justify-content-center align-items-center">  
                    <img src="~/Content/images/site/pages/accesorio.jpg" />
                </div>
            </div>

        </div>
    </div>
</section>