<style type="text/css">
    .seccion-img {
        padding-top: 30px;
    }        

</style>

<section class="forward-banner spad">
    <div class="container-fluidcontainer-fluid px-0">
        <div class="row">
            <div class="col-lg-4">
                <div class="product-large set-bg d-flex justify-content-center">
                    <img src="~/Content/images/moto/banner_moto.jpg" style="width:100%" />
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="set-bg d-flex justify-content-center"  style="height:200px">
                            <img src="~/Content/images/moto/banner_moto2.jpg" style="width:100%" />
                        </div>
                    </div>
                    <div class="col-lg-6 seccion-img">
                        <div class="set-bg d-flex justify-content-center" style="height:200px">
                            <img src="~/Content/images/moto/cascos.jpg"  style="width:100%"  />
                        </div>
                    </div>
                    <div class="col-lg-6 seccion-img">
                        <div class="set-bg d-flex justify-content-center" style="height:203px">
                            <img src="~/Content/images/moto/cascos-seccion.png"  style="width:100%" />
                        </div>
                    </div>
                </div>

            </div>
            @*<div class="product-large set-bg d-flex justify-content-center align-items-center">

                </div>*@
        </div>
        <div class="row">

            <div class="col-lg-6  seccion-img">
                @*<div class="product-large set-bg d-flex justify-content-center align-items-center">
                    <img src="~/Content/images/site/pages/moto.png" />
                </div>*@
                <div class="set-bg d-flex justify-content-center">
                    <img src="~/Content/images/site/pages/accesorio.jpg"  style="height:200px; width:100%" />
                </div>
            </div>
            <div class="col-lg-6  seccion-img">
                <div class="set-bg d-flex justify-content-center" >
                    <img src="~/Content/images/site/pages/accesorio.jpg" style="height: 200px; width: 100%"/>
                </div>
            </div>

        </div>
    </div>
</section>
