
<section class="reverse-banner forward-banner">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-3">
                <img src="~/Content/images/site/pages/home.jpg" />
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <img id="imgb" src="~/Content/images/site/pages/orders.jpg" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-large set-bg d-flex justify-content-center align-items-center">
                            <img src="~/Content/images/site/pages/privacy-policy.jpg" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-large set-bg d-flex justify-content-center align-items-center">
                            <img src="~/Content/images/site/pages/refund-policy.jpg" />
                        </div>
                    </div>
                </div>

                @*<div class="product-large set-bg d-flex justify-content-center align-items-center">

                    </div>*@
            </div>
            <br />

            <div class="col-lg-6">
                <div class="product-large set-bg d-flex justify-content-center align-items-center">
                    <img src="~/Content/images/site/pages/terms-conditions.jpg" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-large set-bg d-flex justify-content-center align-items-center">
                    <img src="~/Content/images/site/pages/terms-conditions.jpg" />
                </div>
            </div>

        </div>
    </div>
</section>